<div class="endpoints">
	<p class="controller-name">Users endpoints</p>

	<input class="endpoint-field" type="text" [(ngModel)]="banUserId" placeholder="User id">
	<button class="endpoint" (click)="banUser()">Ban user</button>

	<input class="endpoint-field" type="text" [(ngModel)]="removeBanUserId" placeholder="User id">
	<button class="endpoint" (click)="removeBanUser()">Remove ban user</button>

	<button class="endpoint" (click)="getUsers()">Get all users</button>

	<button class="endpoint" (click)="getUserMe()">Get user me</button>

	<input class="endpoint-field" type="text" [(ngModel)]="getPostsUserId" placeholder="User id">
	<button class="endpoint" (click)="getPostsByUserId()">Get posts by user id</button>
</div>

<div class="endpoints">
	<p class="controller-name">Profiles endpoints</p>

	<button class="endpoint" (click)="hasProfile()">Has current user a profile</button>

	<button class="endpoint" (click)="getAllProfiles()">Get all profiles</button>

	<button class="endpoint" (click)="getMeProfile()">Get profile me</button>

	<input class="endpoint-field" type="text" [(ngModel)]="profilesIds" placeholder="Profile ids">
	<button class="endpoint" (click)="getProfilesByIds()">Get profiles by ids</button>
</div>

<div class="endpoints">
	<p class="controller-name">Posts endpoints</p>

	<input class="endpoint-field" type="text" [(ngModel)]="likePostId" placeholder="Post id">
	<button class="endpoint" (click)="likePost()">Like post</button>

	<input class="endpoint-field" type="text" [(ngModel)]="removeLikePostId" placeholder="Post id">
	<button class="endpoint" (click)="removeLikePost()">Remove like post</button>

	<button class="endpoint" (click)="getAllPosts()">Get all posts</button>

	<input class="endpoint-field" type="text" [(ngModel)]="postId" placeholder="Post id">
	<button class="endpoint" (click)="getPostById()">Get post by id</button>

	<input class="endpoint-field" type="text" [(ngModel)]="getLikesProfilesPostId" placeholder="Post id">
	<button class="endpoint" (click)="getLikesProfilesByPostId()">Get likes profiles by post id</button>

	<input class="endpoint-field" type="text" [(ngModel)]="getLikesCountPostId" placeholder="Post id">
	<button class="endpoint" (click)="getLikesCountByPostId()">Get likes count by post id</button>

	<input class="endpoint-field" type="text" [(ngModel)]="getCommentsWithProfilesPostId" placeholder="Post id">
	<button class="endpoint" (click)="getCommentsWithProfilesByPostId()">Get comments with profiles by post id</button>

	<input class="endpoint-field" type="text" [(ngModel)]="getCommentsCountPostId" placeholder="Post id">
	<button class="endpoint" (click)="getCommentsCountByPostId()">Get comments count by post id</button>
</div>

