<ng-container *ngIf="{ isLoggedIn: isLoggedIn$ | async } as data">
	<div class="left-items">
		<a mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">PostPal</a>
	</div>
	<div class="right-items">
		<a *ngIf="!data.isLoggedIn" mat-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
		<a *ngIf="!data.isLoggedIn" mat-button routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
		<button *ngIf="data.isLoggedIn" mat-button (click)="logout()">Logout</button>
	</div>
</ng-container>

