/// <reference path="../../../theme/_variables.scss" />
/// <reference path="../../../theme/_colors.scss" />
@use "variables" as *;
@use "colors" as colors;

:host {
	display: flex;
	flex-direction: row;
	align-items: inherit;
	justify-content: space-between;
	height: calc($navbar-height - 2 * $navbar-padding);
	background-color: colors.$primary;
	color: colors.$pure-white;
	padding: 8px;
}

.left-items {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.right-items {
	display: flex;
	flex-direction: row;
	align-items: center;
}
