<mat-card class="container">
	<mat-card-header class="header">
		<mat-card-title class="title">Create a profile</mat-card-title>
	</mat-card-header>
	<mat-card-content class="content">
		<form class="create-profile-form" [formGroup]="createProfileForm" (submit)="onSubmit()">
			<mat-form-field class="create-profile-form-field">
				<mat-label>First name</mat-label>
				<input matInput type="text" formControlName="firstName" />
				<mat-error *ngIf="firstName && firstName.invalid">{{ firstName | formControlErrorMessage : firstName.errors }}</mat-error>
			</mat-form-field>
			<mat-form-field class="create-profile-form-field">
				<mat-label>Last name</mat-label>
				<input matInput type="text" formControlName="lastName" />
				<mat-error *ngIf="lastName && lastName.invalid">{{ lastName | formControlErrorMessage : lastName.errors }}</mat-error>
			</mat-form-field>
			<mat-form-field class="create-profile-form-field">
				<mat-label>Bio</mat-label>
				<textarea matInput type="text" formControlName="bio" [rows]="3"></textarea>
			</mat-form-field>

			<div class="profile-picture-field">
				<p class="profile-picture-header">Profile picture</p>
				<div class="profile-picture-container">
					<mat-icon *ngIf="!profilePicture.value" class="profile-picture">person</mat-icon>
					<img *ngIf="!!profilePicture.value" class="profile-picture" [src]="profilePictureUrl" />

					<div class="overlay"></div>
					<button mat-mini-fab class="choose-photo-button" color="accent" type="button" (click)="fileInput.click()">
						<mat-icon>edit</mat-icon>
					</button>

					<input #fileInput
								 class="file-input"
								 type="file"
								 accept=".jpg,.jpeg,.png"
								 (change)="onFileSelect($event)" />
				</div>
			</div>
			<button mat-raised-button
							color="primary"
							class="create-profile-button"
							type="submit"
							[disabled]="createProfileForm.invalid">
				Create
			</button>
		</form>
	</mat-card-content>
</mat-card>
