<mat-card class="container" *ngIf="{ post: post$ | async, profile: profile$ | async } as data">
	<mat-card-header class="header" *ngIf="data.profile && data.post">
		<pal-profile-picture [profile]="data.profile" [sizeInPixels]="40"></pal-profile-picture>
		<div class="username-and-date">
			<pal-profile-name class="username" [profile]="data.profile"></pal-profile-name>
			<span class="date" *ngIf="data.post">{{ data.post.dateCreated | dateAgo }}</span>
		</div>
	</mat-card-header>

	<mat-card-content class="content" *ngIf="data.post && data.profile">
		<pal-post-images class="post-images" [post]="data.post"></pal-post-images>
		<div class="comments-and-actions">
			<pal-post-comments class="comments" [post]="data.post" [profile]="data.profile"></pal-post-comments>
		</div>
	</mat-card-content>
</mat-card>
