/// <reference path="../../../theme/colors" />
@use "colors" as *;
/// <reference path="../../../theme/mixins" />
@use "mixins" as *;

:host {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	background-color: $body-bkg-color;
	@include inner-top-shadow;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	min-height: 100px;
	padding: 24px;
	@include floating-content;
}

.profile-picture-container {
	$profile-picture-size: 64px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: $profile-picture-size;
	height: $profile-picture-size;
	border: 2px solid $primary-800;
	border-radius: 50%;

	.profile-picture {
		width: $profile-picture-size;
		height: $profile-picture-size;
	}

	.icon-profile {
		@include mat-icon($profile-picture-size);
	}

	.img-profile {
		@include img-icon($profile-picture-size);
	}
}

.name {
	margin-top: 16px;
	font-weight: bold;
}
